* {
  box-sizing: border-box;
}

html, body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Courier, monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.title, .controls, .button {
  flex: none;
}

.button {
  padding: 10px 20px;
}

.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
  text-align: center;
  list-style-position: inside;
  font-size: 18px;

}

.todo-checkbox {
  background-color: white;

}
.checked {
  text-decoration: line-through;
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid #333;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 5px;
  margin: 20px;
}

.topnav input[type=text] {
  float: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.topnav {
  border: 2px;
  align-self: center;
}

.header {
  background-color: #FF9933;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.addBtn {
  padding: 6px;
  width: 10%;
  background: #FFEE7A;
  color: #7D7D7D;
  float: center;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-color: white;
}
